# This is configuration file for direnv, a tool that will automatically
# configure your environment for you when you `cd` into a directory.
#
# For more information on direnv see its documentation: https://direnv.net/
#

# Default non-secret environment variables
# If you wish to use different values set them in `./overrides.env`
export APP_SECRET=RJwnle4hoRcu1heP27W30-Y_74JeVOto8iwdPPwMAIU-uREoYGZiomrifTLBnHlI
export JWT_SECRET=ZnaS4s9WhoDq-UdnzqM3uiYdlZGE0q4mxBe9j5WqlwXP5S6-mU8LY9GqfevGOPFa
export JWT_EXPIRY_MINUTES=15
export RATE_LIMIT_ATTEMPTS=3
export RATE_LIMIT_WINDOW_SECONDS=60
export PORT=8080

dotenv_if_exists ./overrides.env
direnv_version 2
